<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsive footer design codepen</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>

<body>
    <footer>
        <div class="footer-content">
            <h3>WeekendHouse rental</h3>
            <p>Weekend house rental is the process of renting a private house for a short-term period typically for the purpose of enjoying a weekend getaway. </p>
            <p> Rent your OWN and enjoy!</p>
            
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Djolean</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a routerLink="" routerLinkActive="active">Home</a></li>
                        
                      </ul>
                    </div>
        </div>

    </footer>
</body>
</html>
